@using Final_eshop_xincunli.Models
@model Final_eshop_xincunli.Models.Member
@{bool isSeller = Model.Role == Role.Seller; }
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/grid-0.4.3.min.css" rel="stylesheet" type="text/css">

    <script src="~/Scripts/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/grid-0.4.3.min.js" type="text/javascript"></script>

    <style>
        .clearable {
            background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
            border: 1px solid #999;
            padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
            border-radius: 3px;
            transition: background 0.4s;
        }

            .clearable.x {
                background-position: right 5px center;
            }
            /* (jQ) Show icon */
            .clearable.onX {
                cursor: pointer;
            }
            /* (jQ) hover cursor style */
            .clearable::-ms-clear {
                display: none;
                width: 0;
                height: 0;
            }
        /* Remove IE default X */
    </style>
    <script type="text/javascript">
        var grid;
        var grid2;

        function Search() {
            grid.reload({ searchString: $("#search").val() });
        }

        function Search2() {
            grid2.reload({ searchString: $("#search2").val() });
        }

        $(document).ready(function () {
            grid = $("#grid").grid({
                dataKey: "OrderId",
                uiLibrary: "bootstrap",
                columns: [
                    { field: "OrderId", width: 100, sortable: true },
                    { field: "ContactName", title: "Contact Name", sortable: true },
                    { field: "ContactAddress", title: "Address", sortable: true },
                    { field: "ContactPhone", title: "ContactPhone", sortable: true },
                    { field: "Status", title: "Status", sortable: true },
                    { field: "OrderDate", title: "Order Date", type: "date", sortable: true }
                ],
                pager: { enable: true, limit: 20, sizes: [5, 10, 20, 100] }
            });
            $("#btnSearch").on("click", Search);

            grid2 = $("#grid2").grid({
                dataKey: "OrderId",
                uiLibrary: "bootstrap",
                columns: [
                    { field: "OrderId", width: 100, sortable: true },
                    { field: "ContactName", title: "Contact Name", sortable: true },
                    { field: "ContactAddress", title: "Address", sortable: true },
                    { field: "ContactPhone", title: "ContactPhone", sortable: true },
                    { field: "Status", title: "Status", sortable: true },
                    { field: "OrderDate", title: "Order Date", type: "date", sortable: true }
                ],
                pager: { enable: true, limit: 20, sizes: [5, 10, 20, 100] }
            });
            $("#btnSearch2").on("click", Search2);

        });

        function tog(v) { return v ? 'addClass' : 'removeClass'; }
        $(document).on('input', '.clearable', function () {
            $(this)[tog(this.value)]('x');
        }).on('mousemove', '.x', function (e) {
            $(this)[tog(this.offsetWidth - 18 < e.clientX - this.getBoundingClientRect().left)]('onX');
        }).on('touchstart click', '.onX', function (ev) {
            ev.preventDefault();
            $(this).removeClass('x onX').val('').change();
        });
    </script>

</head>

<body>
    <h3>@(Model.Name) personal information</h3>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(model => model.Name, new { @class = "col-md-4 control-label" })</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Role, new { @class = "col-md-4 control-label" })</td>
                    <td>@Html.DisplayFor(model => model.Role)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.RegisterDate, new { @class = "col-md-4 control-label" })</td>
                    <td>@Html.DisplayFor(model => model.RegisterDate)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <hr />
    <br />

    <div class="container fill">
        <h2>My Order List</h2>
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" id="search" class="form-control clearable" placeholder="Search order...">
                    <span class="input-group-btn">
                        <button type="button" id="btnSearch" class="btn btn-default">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <table id="grid" data-source="@Url.Action("OrderHistory")"></table>
    </div>

    @if (isSeller)
    {
        <div class="container fill">
            <h2>Seller Order List</h2>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" id="search2" class="form-control clearable" placeholder="Search order...">
                        <span class="input-group-btn">
                            <button type="button" id="btnSearch2" class="btn btn-default">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <table id="grid2" data-source="@Url.Action("OrderSeller")"></table>
        </div>
    }
</body>
</html>