
@model Final_eshop_entities.Models.Member
<h3>@(Model.Name) personal information</h3>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Role, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.DisplayFor(model => model.Role)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.RegisterDate, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.DisplayFor(model => model.RegisterDate)</td>
            </tr>
        </tbody>
    </table>
</div>

